@model ChangePasswordDTO

@{
    ViewData["Title"] = "Cập nhật tài khoản";
}

<h1>Cập nhật tài khoản</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="@Url.Action("ChangePassword")" method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword)
                @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", type = "Password" })
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword)
                @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", type = "Password" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmNewPassword)
                @Html.TextBoxFor(m => m.ConfirmNewPassword, new { @class = "form-control", type = "Password" })
                @Html.ValidationMessageFor(m => m.ConfirmNewPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("InfoCustomer")">Quay lại</a>
</div>
